{% extends 'bases/base.html' %}
{% load static %}

 {% block 'head' %}
<link rel="stylesheet" href="{% static 'cliente/css/cliente.css' %}" />
<link rel="stylesheet" href="{% static 'cliente/css/home.css' %}" />
{% endblock %} {% block 'body' %}
<div>
  
    <h1>Digite o código de barras</h1>
    <br />

    <input class="form-control" type="text" name="codigo_boleto" id="codigo-boleto" /><br />
    <button
      style="background-color: #189fd9"
      class="btn btn-success container"
      type="button"
      id="open-modal"
    >Pagar</button>
  
</div>

<div id="fade" class="hide"></div>
<div id="modal" class="hide">
  <div class="modal-headers">
    <h2>Verifique os dados</h2>
    <button id="close-modal"><i class="fa-solid fa-xmark"></i></button>
  </div>
  <div class="modal-body">
    
    <div class="dados_pagamento">
      <span>Favorecido: </span><span id="span-favorecido"></span><br>
      <span>Banco: </span><span id="span-banco"></span><br>
      <span>Valor: R$</span><span id="span-valor"></span><br><br>
    </div>

    <div class="buttons-options">
        <button class="button-cancel">Cancelar</button>
        <button id="login-button"><i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i></button>
    </div>
    

  </div>
</div>

<script src="{% static 'transacoes/js/pagar-boleto.js'%}"></script>

{% endblock %}
