{% extends 'bases/base.html'%}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'cliente/css/cliente.css' %}">
{% endblock %}

{% block 'body' %}
        <form action="{% url 'cadastrar_conta' %}" method="POST"> {% csrf_token %}
            <div class="form-group">
                <span>Nome de Usuario </span><input class="form-control input-form" type="text" name="nome_usuario" id="" placeholder="Digite o seu nome de usuário"><br>
                <span>Senha </span><input class="form-control input-form" type="text" name="senha" id="" placeholder="Digite a sua senha"><br><br>
            <input class="btn btn-principal" type="submit" value="Entrar">
            </div>
        </form>
        <a class="btn btn-abrir-conta" href="{% url 'cadastrar_conta' %}">Abra sua Conta</a>
    <br>
    <br>
{% endblock %}
